@dark-blue-5: #25386f;
@light-purple-5: #EFF2FB;
@gray-5: #D1D1D1;
@gray-10: #e4e4e4;
@dark-gray-5: #383838;
@dark-gray-7: #777;
@dark-gray-10: #aaa;
@white: #fff;

@app-bg-color: @light-purple-5;
@main-content-bg-color: @white;

@seinput-border-color: @dark-gray-10;
@accordion-container-border: @gray-5;

@sebutton-bg: @white;
@sebutton-hover-bg: @dark-blue-5;
@sebutton-color: @dark-blue-5;
@sebutton-hover-color: @white;
@sebutton-dark-bg: @dark-blue-5;
@sebutton-dark-hover-bg: @white;
@sebutton-dark-color: @white;
@sebutton-dark-hover-color: @dark-blue-5;

@secontrol-helpicon-bg: @dark-blue-5;
@secontrol-helpicon-hover-bg: @white;
@secontrol-helpicon-color: @white;
@secontrol-helpicon-hover-color: @dark-blue-5;
@secontrol-helptext-bg: @dark-blue-5;
@secontrol-helptext-color: @white;
@secontrol-helptext-shadow: rgba(119, 108, 134, 0.842);

@setabswitch-selected-bg: @dark-blue-5;
@setabswitch-selected-color: @white;
@setabswitch-bg: @white;
@setabswitch-color: @dark-blue-5;
@setabswitch-hover-bg: @light-purple-5;
@setabswitch-hover-color: #000;

@setextbox-color: @dark-gray-5;
@setextbox-bg: @white;
@setextbox-border-color: @dark-gray-7;
@setextbox-focus-border-color: rgba(88, 169, 216, 0.8);
@setextbox-shadow: rgba(50, 50, 160, 0.5);

@seaccordionitem-bg: @light-purple-5;
@seaccordionitem-color: @dark-blue-5;
@seaccordionitem-hover-bg: lighten(@light-purple-5, 0.4%);
@seaccordionitem-hover-color: lighten(@dark-blue-5, 0.4%);
@seaccordionitem-arrow-color: fade(@dark-blue-5, 60%);
@seaccordionitem-arrow-hover-color: fade(@dark-blue-5, 85%);

@seslider-color: @gray-10;
@seslider-dark-color: @white;
@seslider-border-color: #9999af;
@seslider-progress-color: #a6b3eb; /* Note: Not supported in Chrome */

@sedropdown-bg: @white;
@sedropdown-border-color: @dark-gray-10;
@sedropdown-hover-border-color: #d0d2dd;

@secheckbox-bg: @white;
@secheckbox-checked-bg: #3B88FD;
@secheckbox-color: @dark-blue-5;
@secheckbox-checked-color: @white;
@secheckbox-border-color: @dark-blue-5;
@secheckbox-hover-border-color: lighten(@secheckbox-border-color, 20%);

@secolorpicker-border-color: @gray-5;
@secolorpicker-color: @dark-gray-5;
@secolorpicker-bg: @white;

@header-tab-btn-color: @dark-blue-5;
@header-tab-btn-bg: @white;
@header-tab-btn-selected-color: @white;
@header-tab-btn-selected-bg: @dark-blue-5;

@play-controls-bg: @dark-blue-5;
@play-controls-color: @white;
@play-btn-hover-color: #f1fbec;

@text-description-heading-color: @dark-gray-5;
@text-description-border-color: @dark-gray-10;
@text-description-focus-color: #8caee8;

@mapping-h2-color: @dark-blue-5;
@mapping-h3-color: @dark-blue-5;
@mapping-h4-color: #000;
@mapping-text-link-color: #3498DB;