@dark-blue-5: #25386f;
@light-blue-5: #f5f5fd;

@app-bg-color: @light-blue-5;
@focus-outline-color: red;

@header-tab-btn-color: @dark-blue-5;
@header-tab-btn-bg: #fff;
@header-tab-btn-selected-color: #fff;
@header-tab-btn-selected-bg: @dark-blue-5;

@sebutton-bg: white;
@sebutton-hover-bg: @dark-blue-5;
@sebutton-color: @dark-blue-5;
@sebutton-hover-color: white;

@sebutton-dark-bg: @dark-blue-5;
@sebutton-dark-hover-bg: white;
@sebutton-dark-color: white;
@sebutton-dark-hover-color: @dark-blue-5;