@dark-blue-5: #25386f;
@light-purple-5: #EFF2FB;
@gray-5: #D1D1D1;
@white: #fff;

@app-bg-color: @light-purple-5;

@sebutton-bg: @white;
@sebutton-hover-bg: @dark-blue-5;
@sebutton-color: @dark-blue-5;
@sebutton-hover-color: @white;
@sebutton-dark-bg: @dark-blue-5;
@sebutton-dark-hover-bg: @white;
@sebutton-dark-color: @white;
@sebutton-dark-hover-color: @dark-blue-5;

@seslider-color: @dark-blue-5;
@seslider-dark-color: @white;
@seslider-border-color: rgba(170, 170, 170, 0.4);
@seslider-progress-color: #a6b3eb; /* Note: Not supported in Chrome */

@header-tab-btn-color: @dark-blue-5;
@header-tab-btn-bg: @white;
@header-tab-btn-selected-color: @white;
@header-tab-btn-selected-bg: @dark-blue-5;

@play-controls-bg: @dark-blue-5;
@play-controls-color: @white;
@play-btn-hover-color: #f1fbec;